
@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat:wght@400..700&family=Ubuntu+Condensed&display=swap');


header {
    
    font-family: "Federant";
    font-weight: bolder;
    background-color: #343a40;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}





