
@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat:wght@400..700&family=Ubuntu+Condensed&display=swap');

body {
    margin: 0;
    padding: 0;
}

header {
    
    font-family: "Federant";
    font-weight: bolder;
    background-color: #343a40;;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    margin-left: 20px;
}

.container {
    display: flex;
    min-height: 100vh;
}
.user-info{
    display: flex ;
    align-items: center;
    gap: 20px;

}

.user-info p {
    font-size: larger;
}

.user-info img{
    width: 65px; /* Ajusta el tamaño según tus necesidades */
    height: 65px; /* Ajusta el tamaño según tus necesidades */
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    margin-top: -4px;
}



.sidebar {
    font-family: "Federant";
    width: 150px;
    background-color: #343a40;
    padding: 20px;
    color: #fff;
    display: flex; flex-direction: column; height: 100vh;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #0075c1;
}

.main-content {
    flex: 1;
    padding: 30px;
    background-color: #ecf0f1;

}

