@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat:wght@400..700&family=Ubuntu+Condensed&display=swap');

.main-content p{
    font-family: "Rajdhani";
    font-weight: bolder;
    font-size: larger;
}

.container_actions img{
    width: 55px;
    height: 55px;
    margin: 2px 0;
}

.container_actions a{
    text-decoration: none;
}