@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #407085, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #407085, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display: flex;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card{
    margin: auto;
    height: 28%;
    background-color: rgba(255, 255, 255, 0.769);
}

h1{
font-family: "Federant";
    font-weight: bolder;
    background: linear-gradient(to right, #407085, #203A43, #0F2027, #203A43, #407085);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    animation: gradient 20s linear infinite;
}

@keyframes gradient {
    0%{
        background-position:  0 0;
    }
    50%{
        background-position: -80rem 0;
    }
    100%{
        background-position: 0 0;
    }
    
}


p{
    color: #0F2027;
    font-family: "Federant";
}

img{
    width: 32px;
    height: 32px;
    margin: 0 0;
}