@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat:wght@400..700&family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');


body{
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container{
    height: 100vh; 
}

/* Estilo común para los formularios (login y register) */
.form-container {
    width: 100%;
    min-height: 40%;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.769);
    transition: all 0.3s ease;
    overflow: visible; /* Cambiar a visible para permitir la expansión */
}

/* Título del formulario */
.form-container h1 {
    font-family: "Federant";
    font-weight: bolder;
    background: linear-gradient(to right,#1488CC, #2B32B2, #2B32B2, #1488CC);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    animation: gradient 20s linear infinite;
}

@keyframes gradient {
    0%{
        background-position:  0 0;
    }
    50%{
        background-position: -80rem 0;
    }
    100%{
        background-position: 0 0;
    }
    
}

.form-group input, label, a{
    font-family: "Federant";
    font-weight: bolder;
}

.form-group label {
    display: block;
    background: linear-gradient(to right,#1488CC, #2B32B2, #2B32B2, #1488CC);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    animation: gradient 20s linear infinite;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 2px solid #0072ff;;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Ubuntu Condensed";
}

.form-group input:focus {
    outline-color: #0072ff; /* Morado al hacer foco en el input */
}

.form-group input{
    background-color: transparent;
}

/* Estilo para los mensajes de error */
#message p{
    /*margin-left: -30px;*/
    color: #e74c3c;
    background-color: #f8d7da;
    border-radius: 4px;
    font-family: "Rajdhani";
    font-weight: bolder;
    font-size:medium;
    text-align: center;
}

.form-container button{
    font-family: "Federant";
}