@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body{
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

.card{
    background-color: rgba(255, 255, 255, 0.539);
    border: 1px solid black;
    box-shadow: 3px 3px 4px #000000;
    border-radius: 15px;
    margin-top: 100px;
    width: 500px;
    justify-self: center;
}

.card-header{
    border-bottom: 1px solid black;
}

.card-body img{
    width: 250px; /* Ajusta el tamaño según tus necesidades */
    height: 250px; /* Ajusta el tamaño según tus necesidades */
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    margin-top: -4px;
    margin-bottom: 15px;
}

.card-body p ,a{
    font-family: "Rajdhani";
}

h1{
    font-family: "Federant";
    text-align: center;
}