{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
    <p>¡Hola {{ user.get_username }}!</p>
    <p>Estás recibiendo este correo porque solicitaste un restablecimiento de contraseña para tu cuenta de usuario en {{ site_name }}.</p>
    <p>Por favor, ve a la siguiente página y elige una nueva contraseña:</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a></p>
    <p>Tu nombre de usuario, por si lo has olvidado: {{ user.get_username }}</p>
    <p>¡Gracias por usar nuestro sitio!</p>
    </body>
</html>
