<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dashboard{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard_styles.css' %}">

</head>
<body>
    <header>
        <h1>Bienvenido Al Dashboard</h1>
        {% if user.is_authenticated %}
            <div class="user-info" style="color: #fff; font-size: 20px; margin-right: 20px;">
                <p>¡Hola, {{ user }}!</p> <!-- Mostrar nombre de usuario en la parte superior -->
                
                
                {% if user.profile.profile_image %}
                <a href="{% url 'view_profile' %}">
                    <img src="{{ user.profile.profile_image.url }}" alt="Imagen de perfil" >
                </a> <!-- Enlace para ver perfil -->
                {% else %}
                <a href="{% url 'view_profile' %}">
                    <img src="{% static 'images/icons/user.png' %}">
                </a> <!-- Enlace para ver perfil -->
                {% endif %}
            </div>
        {% endif %}
    </header>
    <div class="container">
        <div class="sidebar">
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'proyecto_list' %}">Lista de Proyectos</a></li>
                    <li><a href="{% url 'crear_proyecto' %}">Crear Proyecto</a></li> <!-- Enlace para crear proyecto -->
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                        <li><a href="{% url 'register' %}">Registrarse</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="main-content">
            {% block content %}
            <p>¡Has iniciado sesión correctamente!</p>
            {% endblock %}
        </div>
    </div>
</body>
</html>
