<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home_styles.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <!-- Navbar content -->
        <div class="brand d-flex justify-content-start mb-4 ms-3">
            <p>TaskManeger</p>
        </div>
        {% if user.is_authenticated %}
        <div class="btn-group me-3">
        <a href="{% url 'dashboard' %}" class="btn-lg btn btn-primary fw-bolder">VOLVER</a>
        </div>
    {% else %}
    <div class="btn-group me-3">
        <a href="{% url 'login' %}" class="btn-lg btn btn-primary fw-bolder">INICIA SESIÓN</a>
        <a href="{% url 'register' %}" class="btn-lg btn btn-outline-primary fw-bolder">RESGÍSTRATE</a>
    </div>
    {% endif %}
        
    </nav>

</body>
</html>