<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register_styles.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<div class="container d-flex justify-content-center align-items-center">
    <div class="form-container">
        <h2 class="text-center mb-3">REGISTER</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" class="form-control" required value="{{ form.username.value|default_if_none:'' }}">
                {% if form.username.errors %}
                        {{ form.username.errors}}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="form-control" required value="{{ form.email.value|default_if_none:'' }}">
                {% if form.email.errors %}
                        {{ form.email.errors}}
                
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password1">Password:</label>
                <input type="password" id="password1" name="password1" class="form-control" required>
                {% if form.password1.errors %}
                        {{ form.password1.errors}}
                    
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password:</label>
                <input type="password" id="password2" name="password2" class="form-control" required>
                {% if form.password2.errors %}
                        {{ form.password2.errors}}
                    
                {% endif %}

            {% if messages %}
                {% for message in messages %}
                <p class="my-2" id="message">{{ message }}<p>
                {% endfor %}
            {% endif %}

            <div class="d-flex mt-3 justify-content-center align-items-center">
                <button class="btn-custom" type="submit">Register</button>
            </div>
            <div class="d-flex mt-2 justify-content-end">
                <p><a href="{% url 'login' %}">Regresar al login</a></p>
            </div>
        </form>
        
    </div>
</div>
</body>
</html>
