<!-- set_password.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Establecer Nueva Contraseña</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/password_set_styles.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="form-container">
    <h1>ESTABLECER NUEVA CONTRASEÑA</h1>
    <form method="post">
        {% csrf_token %}

        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
                {% for field in form %}
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        
        <div class="form-group">
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
        </div>
        <div class="form-group">
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
        </div>
        <button type="submit" class="btn fw-bolder my-3 btn-outline-info">Guardar Nueva Contraseña</button>
    </form>
    </div>
</div>
</body>
</html>
