<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Proyecto</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/crear_proyecto_styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'proyecto_list' %}">Lista de Proyectos</a></li>
                    <li><a href="{% url 'crear_proyecto' %}">Crear Proyecto</a></li> <!-- Enlace para crear proyecto -->
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                        <li><a href="{% url 'register' %}">Registrarse</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="main-content">
            <h1>Crear Proyecto</h1>
            <form method="post">
                <div class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Crear Proyecto</button>
            </div>
            </form>
        </div>
    </div>
</body>
</html>
