<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalle del Proyecto</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/detalle_proyecto_styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'proyecto_list' %}">Lista de Proyectos</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                        <li><a href="{% url 'register' %}">Registrarse</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="main-content">
            <h1>{{ proyecto.nombre.upper }}</h1>
            <p>Descripción: {{ proyecto.descripcion }}</p>
            <p>Fecha Límite: {{ proyecto.fecha_limite }}</p>
            <p>Creado por: {{ proyecto.creador.username }}</p> <!-- Mostrar creador -->
            <p>Colaboradores:
                {% for colaborador in proyecto.colaboradores.all %}
                    {{ colaborador.username }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    Ninguno
                {% endfor %}
            </p>
            <div class="container_actions">
            <a href="{% url 'editar_colaboradores' proyecto.pk %}">
                <img src="{% static 'images/icons/person-add.svg' %}">
            </a>

            <a href="{% url 'tarea_list' proyecto.id %}">Volver a la lista de tareas</a>
            <a href="{% url 'tarea_create' proyecto.id %}">Crear nueva tarea</a>
            </div>
            </div>
    </div>
</body>
</html>
