<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Proyectos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/proyecto_list_styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'proyecto_list' %}">Lista de Proyectos</a></li>
                    <li><a href="{% url 'crear_proyecto' %}">Crear Proyecto</a></li> <!-- Agregar enlace para crear proyecto -->
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                        <li><a href="{% url 'register' %}">Registrarse</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="main-content">
            <h1>Lista De Proyectos</h1>
            
            <div class="project-list">
                {% for proyecto in proyectos %}
                <div class="project-box">
                    
                        <a class="project-name" href="{% url 'detalle_proyecto' proyecto.pk %}">{{ proyecto.nombre }}</a>
                        {% if user == proyecto.creador %}
                        <div class="container_actions">   
                        <a href="{% url 'editar_proyecto' proyecto.pk %}">
                                <img src="{% static 'images/icons/pencil-square.svg' %}"></a>
                            <a href="{% url 'eliminar_proyecto' proyecto.pk %}" >
                                <img src="{% static 'images/icons/trash_fill.svg' %}"></a>
                            </a>
                        </div> 
                        {% elif user in proyecto.colaboradores.all %}
                            <a href="{% url 'editar_proyecto' proyecto.pk %}">
                                <a href="{% url 'editar_proyecto' proyecto.pk %}">
                                    <img src="{% static 'images/icons/pencil-square.svg' %}"></a>
                            </a>
                        {% endif %}
                    
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
